@font-face {
  font-family: Montserrat;
  src: url(../assets/font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Varela;
  src: url(../assets/font/Varela_Round/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: Rubik;
  src: url(../assets/font/Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: HelloSunshine;
  src: url(../assets/font/HelloSunshine/HelloSunshine.otf);
}
